.analytic-item {
    text-align: center;
}

.analytics-content {
    margin-top: 60px;
    text-align: left;
}

.analytics-content h2 {
    color: $colorBlack;
    font-family: $InterUI;
    font-size: 24px;
    margin-bottom: 12px;
}

.analytics-content p {
    color: $colorGray;
    font-family: $InterUI;
    font-size: 16px;
    margin-bottom: 12px;
}

.contribute-wrap {
	max-width: 1200px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	min-height: 300px;
}

.contribute {
	display: flex;
	background-color: #fff;
	border-radius: 5px;
	margin-right: 24px;
	padding: 30px 24px 24px 24px;
	width: calc(33.33% - 16px);
	flex-direction: column;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(43,59,71,.124066);
}

.contribute:nth-child(3n+3) {
	margin-right: 0;
}

.contribute h3 {
	font-style: normal;
	font-weight: bold;
	line-height: 25px;
	font-size: 18px;
	margin-bottom: 8px;
}

.contribute p {
	font-style: normal;
	font-weight: normal;
	line-height: 25px;
	font-size: 16px;
	color: #939ba1;
	margin-bottom: 20px;
	overflow: hidden;
}

.contribute p:last-child {
	margin-bottom: 0;
	margin-top: auto;
}

.contribute a {
	line-height: 24px;
	font-size: 16px;
	color: #4360df;
	text-decoration: none;
	margin-top: auto;
}

.contribute span {
	margin-left: 8px;
}

@media (max-width: 767px) {
	.contribute {
		width: 90%;
	}
}