#content-wrap {
	background: $colorWhite;
}

#content-wrap-privacy {
	background: #eef2f5;
}
    
#content {
	position: relative;
}

#content-inner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 820px) {
	#content-inner-full {
		margin-left: 0;
	}
}

@media screen and (min-width: 820px) {
	.article-container {
		width: 100%;
		float: right;
	}

	.article-container-privacy {
		width: 100%;
		float: right;
		margin-top: -80px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 2px 4px rgba(43,59,71,.124066);
	}
}

.article {
	float: left;
	width: 100%;
	margin-top: 24px;
}

@media print {
	.article {
		padding: 0;
	}
}

#article-toc {
	display: none;
	float: right;
	width: sidebar-width;
	opacity: 0.8;
}

@media screen and (min-width: 820px) {
	#article-toc {
		display: block;
	}
}

@media screen and (max-width: 1199px) {
	#article-toc {
		display: block;
	}
}

@media screen and (max-width: 1199px) {
	#article-toc {
		display: none;
	}
}

#article-toc.fixed {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

.toc-child {
	padding-left: 1em;
	font-size: 0.9em;
}

#article-toc-top {
	margin-top: 2em;
	font-size: 0.9em;
	text-decoration: none;
	color: $colorBlack;
	display: block;
	margin-bottom: 40px;
	font-family: $InterUI;
}

#article-toc-top:hover {
	color: c$colorDarkBlue;
}

.article-header {
	max-width: 1200px;
	margin: 170px auto 20px;
	display: flex;
	justify-content: space-between;
}

.article-title {
	font-family: $InterUI;
	font-size: 26px;
	line-height: 32px;
	font-weight: 300;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	color: #000;
	transition: 0.2s;
}

a.article-title:hover {
	color: $colorDarkBlue;
}

.post .article-title {
	float: none;
}

.article-date {
	color: $colorGray;
	text-decoration: none;
	display: inline-block;
	margin-top: 1em;
}

.article-date:hover {
	color: $colorDarkBlue;
}

.article-edit-link {
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	color: #000;
	display: none;
	align-items: flex-end;
	text-decoration: none;
}

.article-edit-link:hover {
	opacity: 0.7;
}

@media screen and (min-width: 820px) {
	.article-edit-link {
		display: flex;
	}
}

.article-anchor {
	margin-left: 10px;
	display: none;
}

.article-anchor:before {
	content: "#";
}

@media print {
	.article-anchor {
		display: none !important;
	}
}

.article-heading:hover .article-anchor {
	display: none;
}

.article-content {
	color: $colorBlack;
}

@media print {
	.article-content {
		font-size: 12pt;
	}
}

.article-content p,
.article-content ol,
.article-content ul,
.article-content dl,
.article-content table,
.article-content blockquote,
.article-content iframe {
    margin: 1em 0;
    line-height: 26px;
    font-size: 16px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-family: $InterUI;
}

.article-content .highlight {
	border: 1px solid #EEF2F5;
	border-radius: 8px;
	background: #EEF2F5;
	margin: 24px 0;
}

.article-content .highlight table {
	border: 0 !important;
}

.article-content .highlight span {
	font-size: 16px;
	color: $colorBlack;
	font-weight: 500;
}

.article-content h1 {
	font-weight: bold;
    line-height: normal;
    font-size: 24px;
	color: #000000;
	margin: 12px 0;
}

.article-content h2 {
	font-size: 20px;
	margin: 12px 0;
}

.article-content h3 {
	font-size: 18px;
	margin: 12px 0;
}

.article-content a {
	color: $colorBlue;
	text-decoration: none;
}

.article-content a:hover {
	color: $colorDarkBlue;
	text-decoration: underline;
}

@media print {
	.article-content a {
		color: $colorBlue;
		text-decoration: none;
	}

	.article-content a:after {
		content: " (" attr(href) ")";
		font-size: 80%;
	}
}

.article-content strong {
	font-weight: bold;
}

.article-content em {
	font-style: italic;
}

.article-content ul,
.article-content ol,
.article-content dl {
	margin-left: 20px;
}

.article-content ul ul,
.article-content ol ul,
.article-content dl ul,
.article-content ul ol,
.article-content ol ol,
.article-content dl ol,
.article-content ul dl,
.article-content ol dl,
.article-content dl dl {
	margin-top: 0;
	margin-bottom: 0;
}

.article-content ul {
	list-style: disc;
}

.article-content ol {
	list-style: decimal;
}

.article-content dl {
	list-style: square;
}

.article-content li p {
	margin: 0;
}

.article-content li table,
.article-content li blockquote,
.article-content li iframe,
.article-content li .highlight {
	margin: 1em 0;
}

.article-content img,
.article-content video {
	max-width: 100%;
}

.article-content blockquote {
	padding: 0 20px;
	position: relative;
	border: 1px solid #e3e3e3;
	border-left: 5px solid #ddd;
}

.article-content blockquote footer {
	margin: 1em 0;
	font-style: italic;
}

.article-content blockquote footer cite:before {
	content: "—";
	padding: 0 0.3em;
}

.article-content blockquote footer cite a {
	color: $colorGray;
}

.article-content .note.tip {
	border-left-color: #fa0;
}

.article-content .note.info {
	border-left-color: #0af;
}

.article-content .note.warn {
	border-left-color: #f00;
}

.article-content .note-title {
	margin: 1em 0;
	display: block;
	font-size: 1.3em;
	font-weight: bold;
}

.article-content table {
	max-width: 100%;
	border: 1px solid #e3e3e3;
}

.article-content table th {
	font-weight: bold;
}

.article-content table th,
.article-content table td {
	padding: 5px 15px;
}

.article-content table tr:nth-child(2n) {
	background: #eee;
}

.article-footer {
	margin: 1em 0;
	border-top: 1px solid #e3e3e3;
	text-align: center;
	color: $colorGray;
	line-height: 1em;
	padding-top: 1em;
	position: relative;
	background: transparent;
}

@media print {
	.article-footer {
		display: none;
	}
}

.article-footer-updated {
	font-size: 0.9em;
}

@media print {
	#comments {
		display: none;
	}
}

.article-footer-link, .article-footer-prev, .article-footer-next {
	color: $colorBlue;
	text-decoration: none;
	font-weight: bold;
	font-family: $InterUI;
	text-transform: uppercase;
	position: absolute;
}

.article-footer-link:hover, .article-footer-prev:hover, .article-footer-next:hover {
	color: $colorDarkBlue;
}

.article-footer-prev {
    left: 0;
}

.article-footer-next {
    right: 0;
}

@media print {
	.article-footer-link, .article-footer-previous, .article-footer-next {
		display: none;
	}
}

.article-footer-link span {
	padding: 0 6px;
}

