.article-header-get {
	margin-top: 170px;
}

.get-status-intro {
	display: flex;
	max-width: 760px;
	padding: 0 32px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 140px auto 0;
}

.get-status-intro h2 {
	padding: 0 0 8px 0;
}

.get-status-intro p {
	max-width: 540px;
	font-size: 16px;
	line-height: 26px;
	color: $colorGray;
}

.get-status-desktop {
	width: 800px;
	margin: 0 auto;
}

.get-status-desktop-links {
	padding: 24px 0;
}

.get-status-desktop-mobile-links {
	display: none;
}

.button-icon.button-icon--linux {
	background-image: url(../img/icon-linux-blue-small.svg);
}

.get-status-desktop-links ul {
	display: flex;
	justify-content: space-around;
}

.get-status-desktop-links ul a {
	display: block;
	padding: 12px 0 12px 40px;
	background-size: 32px;
	background-position: 0 2px;
	background-repeat: no-repeat;
}

.get-status-desktop-links ul span {
	display: block;
	padding: 12px 0 12px 40px;
	background-size: 32px;
	background-position: 0 2px;
	background-repeat: no-repeat;
	color: $colorGray;
	opacity: .6;
}

.get-status-desktop-links ul a.link-arrow::after {
	top: 8px;
}

.get-status-desktop-links ul span.link-arrow::after {
	top: 8px;
	opacity: 0;
}

.get-status-desktop-links ul a.desktop-link--windows {
	background-image: url(../img/icon-windows-blue.svg);
}

.get-status-desktop-links ul span.desktop-link--windows.desktop-link--disabled {
	background-image: url(../img/icon-windows-gray.svg);
}

.get-status-desktop-links ul a.desktop-link--linux {
	background-image: url(../img/icon-linux-blue.svg);
}

.get-status-desktop-links ul a.desktop-link--mac {
	background-image: url(../img/icon-apple-blue.svg);
}

.get-status-desktop-screen {
	box-sizing:border-box;
	width: 800px;
	height: 600px;
	border-radius: 16px;
	box-shadow: 0px 4px 22px rgba(197, 203, 207, 0.6);
	background-color: $colorWhite;
	margin: 0 0 32px 0;
	background-image: url(../img/desktop-screen2@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.get-status-info {
	position: relative;
	margin: 40px auto 64px;
	display: flex;
	width: 880px;
	height: 784px;
}

.get-status-phones {
	width: 521px;
	flex-grow: 0;
	flex-shrink: 0;
}

.phone-inner {
	position: absolute;
	top: 32px;
	left: 16px;
	background-color: $colorBg;
	width: 309px;
	height: 668px;
	border: 2px solid #E3E8EB;
	border-radius: 24px;
	background-size: 309px;
	background-repeat: no-repeat;
}

.phone-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 341px;
	height: 717px;
	background: $colorWhite;
	border: 1px solid #CDD5D9;
	box-sizing: border-box;
	box-shadow: 5px 4px 22px rgba(197, 203, 207, 0.6), inset 0px 1px 11px rgba(153, 162, 167, 0.43);
	border-radius: 40px;
}

.phone-wrap:nth-child(2) {
	left: 180px;
	top: 0;
}

.phone-wrap:nth-child(1) {
	left: 0;
	top: 66px;
}

.phone-wrap:nth-child(2) .phone-inner {
	background-image: url(../img/phone-screen-chat3@2x.png);
}

.phone-wrap:nth-child(1) .phone-inner {
	background-image: url(../img/phone-screen-wallet2@2x.png);
}

.get-status-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 32px 0 0 32px;
}

.get-link {
	display: block;
	padding: 0 0 52px 0;
}

.get-status-links-bottom .get-link {
	padding: 24px 0 94px 0;
}

.get-status-links-bottom {
	border-top: 1px solid #DFE3E5;
}

.get-link h4 {
	color: $colorBlack;
	padding: 0 0 4px 0;
}

.get-link p {
	padding: 0 0 8px 0;
}

.get-link-text--mobile {
	display: none;
}

.get-link-icon {
	width: 32px;
	height: 32px;
	margin: 0 0 16px 0;
	background-size: 32px;
	background-repeat: no-repeat;
}

.get-link-icon.get-link-icon--ios {
	background-image: url(../img/icon-apple-blue.svg);
}

.get-link-icon.get-link-icon--android {
	background-image: url(../img/icon-android-blue.svg);
}


@media (max-width: 1248px) {

	.get-status-intro {
		width: 100%;
		padding: 0 24px;
	}

}

@media (max-width: 960px) {

	.get-status-intro {
		margin: 120px auto 40px
	}

	.get-status-intro.get-status-intro--desktop {
		margin: 120px auto 16px;
	}

	.get-status-info {
		width: 700px;
		height: auto;
		margin: 0px auto 32px;
	}

	.get-status-desktop {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.get-status-desktop-screen {
		width: 640px;
		height: 480px;
	}

	.get-status-desktop-links {
		width: 100%;
		max-width: 800px;
	}

	.get-status-phones {
		width: auto;
		height: auto;
	}

	.phone-wrap:nth-child(1) {
		position: relative;
		display: none;
	}

	.phone-wrap:nth-child(2) {
		position: relative;
		left: 0;
		top: 0;
	}

	.get-status-intro h1 {
		font-weight: 700;
  		font-size: 32px;
  		line-height: 1.4em;
	}

	.get-status-links-bottom .get-link {
	    padding: 24px 0 32px 0;
	}
}


@media (max-width: 748px) {

	.get-status-links {
	    padding: 0 32px 32px;
	}

	.get-status-desktop-links {
		display: none;
	}

	.get-status-desktop-mobile-links {
		display: block;
	}

	.get-status-desktop-mobile-links .button:first-child {
		margin: 0 0 16px 0;
	}

	.get-status-desktop-mobile-links{
		margin: 16px 0 24px 0;
	}

	.get-status-info {
		width: 100%;
		flex-direction: column;
		margin-bottom: 0;
	}

	.get-status-phones {
		position: relative;
		width: 100%;
		height: 400px;
		order: 2;
		overflow: hidden;
	}

	.phone-wrap:nth-child(1) {
		position: absolute;
		display: block;
		left: 50%;
		top: 60px;
		margin: 0 0 0 -240px;
	}

	.phone-wrap:nth-child(2) {
		position: absolute;
		left: 50%;
		top: 0;
		margin: 0 0 0 -120px;
	}

	.get-status-links {
		order: 1;
	}

	.get-link {
		position: relative;
		background-color: $colorWhite;
		padding: 16px 24px;
		box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
		border-radius: 16px;
		margin: 0 0 12px 0;
	}

	.get-link .link-arrow {
		display: none;
	}

	.get-link-icon {
		position: absolute;
		right: 20px;
		top: 20px;
		opacity: .4
	}

	.get-status-links-bottom {
		display: none;
	}

	.get-link h4 {
		padding: 0 0 4px 0;
		color: $colorBlue;
	}

	.get-link p {
		display: none;
	}

	.get-link p.get-link-text--mobile {
		display: block;
		padding: 0;
		opacity: .6
	}

	.get-link-icon {
		width: 32px;
		height: 32px;
		margin: 0 0 16px 0;
		background-size: 32px;
		background-repeat: no-repeat;
	}

	.get-status-desktop-links ul {
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}

	.get-status-desktop-links ul li {
		margin: 0 0 16px 0;
	}

	.get-status-desktop-links ul a {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 24px;
		font-weight: 500;
		padding: 9px 24px 8px;
		text-decoration: none;
		background-color: $colorWhite;
		color: $colorBlue;
		box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
		border-radius: 20px;
	}

	.get-status-desktop-links ul a.link-arrow::after {
		display: none;
	}

}

@media (max-width: 688px) {

	.get-status-intro {
		margin: 148px auto 24px;
	}

	.get-status-intro.get-status-intro--desktop {
		margin: 148px auto 0;
	}

	.get-status-intro h1 {
  		font-size: 24px;
  		line-height: 1.4em;
	}

	.get-status-desktop-screen {
		width: 441px;
		height: 361px;
	}

}

@media (max-width: 520px) {

	.phone-wrap:nth-child(1) {
		display: none;
	}

	.phone-wrap:nth-child(2) {
		margin: 0 0 0 -170px;
	}

	.get-status-desktop-screen {
		width: 301px;
		height: 246px;
	}

}
