.intro {
	display: flex;
	max-width: 760px;
	padding: 0 32px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 164px auto 0;
}

.intro h1 {
	padding: 0 0 8px 0;
}

.intro p {
	max-width: 540px;
	font-size: 16px;
	line-height: 26px;
	color: $colorGray;
}

.intro-buttons {
	display: flex;
	padding: 16px 0 0 0;
}

.button.button-part {
	border-radius: 0;
}

.button.button-part:first-child {
	border-radius: 20px 0 0 20px;
}

.button.button-part:last-child {
	border-radius: 0 20px 20px 0;
}

.button-icon {
	display: block;
	width: 24px;
	height: 24px;
	background-size: 24px;
	background-repeat: no-repeat;
	margin: 0 8px 0 0;
}

.button-icon.button-icon--ios {
	background-image: url(../img/icon-apple.svg);
}

.button-icon.button-icon--android {
	background-image: url(../img/icon-android.svg);
}

.intro-buttons .button {
	//padding: 9px 32px 8px;
}

.intro-under-buttons {
	padding: 12px 0 0 0;
}

.intro-under-buttons a:hover{
	opacity: .8
}

.info {
	margin: 0 auto 64px;
	width: 1200px;
}

.info__inner {
	border-radius: 16px;
	background-color: $colorWhite;
	width: 100%;
	display: flex;
}

.info-item {
	width: 33.3%;
	padding: 32px;
	border-right: 1px solid rgba(232, 235, 236, 1)
}

.info-item:last-child {
	border-right: none;
}

.info-item-content {
	height: 240px;
	overflow: hidden;
}

.info-item h5 {
	margin: 0 0 24px 0;
}

.info-item h4 {
	margin: 0 0 8px 0;
}

.latest-news li {
 	padding: 0 0 16px 0;
 	line-height: 1.2em
}

.latest-news li a {
 	color: $colorBlack
}
.latest-news li a:hover {
 	opacity: .8;
}


@media (max-width: 1248px) {

	.info {
		width: 100%;
		padding: 0 24px;
	}

}


@media (max-width: 1080px) {

	.info {
		width: 100%;
		padding: 0 24px;
	}

	.info-item {
		padding: 24px;
		position: relative;
	}

	.info-item-content {
		min-height: 240px;
		height: auto;
		padding: 0 0 24px 0;
	}

	.info-item-link {
		position: absolute;
		bottom: 24px;
		left: 24;
	}
}

@media (max-width: 960px) {

	.intro {
		margin: 120px auto 64px;
	}

	.intro h1 {
		font-weight: 700;
  		font-size: 32px;
  		line-height: 1.4em;
	}

	.to-hide {
		display: none;
	}
}

@media (max-width: 740px) {

	.info {
		padding: 0;
	}

	.info__inner {
		border-radius: 0;
		flex-direction: column
	}

	.info-item {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #e8ebec;
	}

	.info-item-content {
		padding: 0 0 16px 0;
	}

	.info-item:last-child{
		border-bottom: none;
	}

	.info-item-content {
    	min-height: 0
	}

	.info-item-link {
		position: static;
	}
}

@media (max-width: 640px) {

	.intro {
		margin: 148px auto 32px;
	}

	.intro h1 {
  		font-size: 24px;
  		line-height: 1.4em;
	}

	.intro-buttons {
		flex-direction: column
	}

	.button.button-part {
		border-radius: 20px;
	}

	.button.button-part:first-child {
		border-radius: 20px;
		margin: 0 0 16px 0;
	}

	.button.button-part:last-child {
		border-radius: 20px;
	}

}
