.parinfer-error {
    background: #FFBEBE;
    color: black !important;
}

.parinfer-paren-trail {
    opacity: 0.4;
}

.CodeMirror {
    box-sizing: border-box;
    padding: 10px;
    height: 100% !important;
    border: 1px solid $colorBg;
}

#play-page {
    background: #fff;
    padding-top: 20px;
}

#wrapper {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    width: 75%;
    overflow: auto;
}

#errors {
    height: 20vh;
    overflow: auto;
}

#errors.ok {
    background-color: #E0F2F1;
}

#errors.warnings {
    background-color: #FCE4EC;
}

#errors.errors {
    background-color: #FCE4EC;
}

#errors div {
    padding: 10px;
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-between;
}

#docs {
    overflow-y: scroll;
    height: 50vh;
    box-shadow: 0px 0px 1px #666 inset;
}

#docs h6 {
    margin: 0px;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d4d4d4;
}

#docs li {
    list-style: none;
}

#docs ul {
    padding-left: 0.5em;
}

#docs pre {
    font-family: monospace;
    font-size: 0.9em;
    margin-bottom: 0px;
    color: #5f9ea0;
    vertical-align: top;
}

#panel p {
    margin: 10px;
}

#qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

